---
import Headline from "../Headline.astro";
---

<row id="header" align-="center between">
  <Headline />
  <row align-="center start">
    <button box-="round" variant-="mauve" id="upload-button">&#xf40a; Upload</button>
  </row>
</row>

<style>
#header {
  background-color: var(--background1);
  height: 3lh;
  padding: 0 1ch;
}
</style>
