@layer base, utils, components;

@import "@webtui/css";
@import "@webtui/plugin-nf";
@import "@webtui/theme-catppuccin";
@import "@/styles/flexbox.css";

@layer base {
  :root {
    --font-family: "JetBrains Mono", Menlo, Monaco, monospace,
      "Symbols Nerd Font";
    --font-size: 18px;
    --line-height: 1.4;
  }

  body,
  html {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 720px) {
    :root {
      --font-size: 16px;
    }
  }
}

.slide {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--background0);
  display: none;
  text-align: center;
}

img {
  max-width: 800px;
  max-height: 80vh;
}
