<row gap-="1" align-="center">
  <img src="/todd.jpeg" width="128" height="128" />
  <column>
    <strong>OP_RETURN</strong>
    <span id="subtitle">.space</span>
  </column>
</row>

<style>
img {
  height: 2lh;
  width: 2lh;
  border-radius: 4px;
}

#subtitle {
  color: var(--mauve);
}
</style>
