---
import Slide from '@/layouts/Slide.astro';
import Headline from '@/components/Headline.astro';

---

<Slide slide={2}>
  <column gap-="1">
    <Headline />
    <p>Your mom</p>
    <row align-="center">
      <button box-="round">Start</button>
    </row>
  </column>
</Slide>
