---
import Slide from '@/layouts/Slide.astro';
---

<Slide slide={1}>
  <column gap-="1" align-="center">
    <span>This is Peter Todd</span>
    <img src="/todd.jpeg" />
    <span>He wants to remove the OP_RETURN limit</span>
    <span style="color: var(--foreground2)">[Click to continue]</span>
  </column>
</Slide>
