---
import Slide from '@/layouts/Slide.astro';
---

<Slide slide={5}>
  <column gap-="1" align-="center">
    <span>Try it and see what happens</span>
    <span style="color: var(--foreground2)">[Click to continue]</span>
  </column>
</Slide>
