---
import Slide from '@/layouts/Slide.astro';
import Headline from '@/components/Headline.astro';

---

<Slide>
  <column gap-="1">
    <Headline />
    <p>What if the length limit of OP_RETURN was removed?</p>
    <row align-="center">
      <button box-="round">Start</button>
    </row>
  </column>
</Slide>
