---
import Slide from '@/layouts/Slide.astro';
---

<Slide slide={4}>
  <column gap-="1" align-="center">
    <span>What if the PR was merged?</span>
    <img src="/merged.png" />
    <span>What if you could upload any amount of arbitrary data to the blockchain?</span>
    <span style="color: var(--foreground2)">[Click to continue]</span>
  </column>
</Slide>
