---
import Slide from '@/layouts/Slide.astro';
---

<Slide slide={4}>
  <column gap-="1" align-="center">
    <span>Now the PR is merged and the haters are big mad</span>
    <img src="/merged.png" />
    <span style="color: var(--foreground2)">[Click to continue]</span>
  </column>
</Slide>
