---
import Slide from '@/layouts/Slide.astro';
---

<Slide slide={3}>
  <column gap-="1" align-="center">
    <span>They hated him because he opened a dumb PR</span>
    <img src="/pr_open.png" />
    <span style="color: var(--foreground2)">[Click to continue]</span>
  </column>
</Slide>
