---
import Slide from '@/layouts/Slide.astro';
---

<Slide slide={5}>
  <column gap-="1" align-="center">
    <span>Now you can permanently store arbitrary data on the blockchain with no limits</span>
    <span style="color: var(--foreground2)">[Click to continue]</span>
  </column>
</Slide>
